@media (max-width: 980px) {
	
header {
    width: 660px;
    height: 550px;
    background: url(images/fon.jpg);
    background-size: 100% 239px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 60px;
}
	
	
	.projects_radio {
    width: 660px;
    margin: 0 auto;
}

main {
    width: 660px;
    margin: 0;
}

.projects_radio label {
    display: inline-block;
    width: 180px;
    height: 180px;
    border: 1px solid black;
    cursor: pointer;
}

.portfolio {
    /* visibility: visible; */
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    margin-top: 30px;
}

.portfolio article {
    /* visibility: visible; */
    width: 570px;
    display: flex;
    flex-direction: column;
    height: 286px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 0;
    padding: 10px;
    box-sizing: border-box;
}
}